.xs-about-content {
	position: relative;
	z-index: 1;
	.about-info {
		h4 {
			font-size: em(14px);
			color: $color-primary;
			letter-spacing: .4px;
			margin-bottom: 20px;
		}
		h5 {
			font-size: em(42px);
			font-weight: 700;
			line-height: 1.23;
			letter-spacing: -.2px;
			margin-bottom: 25px;
		}
		margin-bottom: 30px;
	}
	.xs-watermark-text {
		top: -70px;
		left: -10px;
		bottom: inherit;
		line-height: 1;
		z-index: -1;
		color: #f5f4f4;
	}
}
.about-content-left {
	.xs-about-content {
		padding-right: 65px;
		margin-top: 44px;
	}
	.col-lg-5 > img {
		position: relative;
		z-index: 1;
	}
}

.about-content-right {
	.xs-watermark-text {
		left: -55px;
	}
	.xs-about-content {
		margin-top: 44px;
	}
}

.fact-list {
	.single-fact-item {
		display: inline-block;
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
		h5,h6 {
			font-weight: 400;
			margin-bottom: 0;
		}
		h5 {
			color: $color-primary;
			font-size: em(42px);
		}
		h6 {
			font-size: em(14px);
			color: #555555;
		}
	}
}