.v-semi-black {
	.xs-content-title,
	.xs-nav-tab .nav-link.active, 
	.xs-nav-tab .nav-link:hover ,
	.product-title a {
		color: $color_semi_black;
	}
	.xs-nav-tab .nav-link::before{
		background-color: $color_semi_black;
	}
	.xs-nav-tab .nav-link::after {
		border-top-color: $color_semi_black;
	}
	.product-title a:hover {
		color: $color-primary;
	}
}
/* version yellow and black */
.v-yellow-and-black {
	.xs-content-title,
	.xs-nav-tab .nav-link.active, 
	.xs-nav-tab .nav-link:hover ,
	.product-title a ,
	.xs-product-offer-label ,
	.xs-countdown-timer .timer-count ,
	.xs-countdown-timer .timer-title ,
	.product-sold, 
	.product-available ,
	.small-offer-banner-v2 .offer-banner-content p ,
	.small-offer-banner-v2 .offer-banner-content h3 ,
	.btn {
		color: $color_semi_black;
	}
	.btn:not([data-toggle="popover"]) {
		background-color: $color-gold !important;
	}
	.btn {
		&:hover {
			color: $color-white;
		}
	}
	.xs-nav-tab .nav-link::before {
		background-color: $color_semi_black;
	}
	.xs-nav-tab .nav-link::after {
		border-top-color: $color_semi_black;
	}
	.xs-product-offer-label,
	.xs-progress .progress-bar,
	.xs-countdown-timer .timer-count {
		background-color: $color-gold;
	}
	.product-thumb-feature {
		.btn.btn-outline-primary {
			border-color: transparent;
			color: $color_semi_black;
		}
	}
	.btn:not([data-toggle="popover"]).btn-outline-primary:hover {
		color: $color-white;
	}
	.product-title {
		a {
			&:hover {
				color: $color-primary;
			}
		}
	}
}