// default color set
$color-black: #000000;
$color-white: #FFFFFF;
$color-gray: #f9f9f9;
$color-orange: #ffa801;
$color-gold: #cccbcb;
$color-yellow: #ffd200;
$color_semi_black: #333e48;

// color variation


// index v1 primary and secondary color list
$color-primary: #cccbcb; // Verde Auro
$color-secondary: #074e99; // Blu ReMax

// shadow list
$primary-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
$secondary-shadow: 0px 2px 20px 0px rgba(144, 144, 144, 0.2);


// social color
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-dribbble: #ea4c89;
$color-pinterest: #bd081c;
$color-instagram: #e1306c;
$color-google-plus: #D8443D;
$color-linkedin: #dd5143;

// body var
$bodyFont: 'Rubik', sans-serif;
$bodyFontWeight: 400;
$bColor: #074e99;
$blineHeight: 1.5;
$iconFont: 'FontAwesome';
$iconFont2: 'iconfont';